language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "python setup.py install"
  - "pip install coverage protobuf"
# command to run tests
script:  bash -xe test.sh
